.dual-button {
    padding: 40px 0;
    padding: 4rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    @include atSmallMedium {
        padding: 8rem;
    }

    .overlay {
        background-color: #191919;
        opacity: 0.35;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }

    .title {
        margin-bottom: 4rem;
        font-size: 4rem;
        line-height: 4.8rem;
        color: #fff;

        @include atSmallMedium {
            margin-bottom: 10rem;
            font-size: 5rem;
            line-height: 6rem;
        }
    }

    .button:active,
    .button:link,
    .button:hover {
        text-decoration: none;
    }

    .button {
        display: inline-block;
        border-radius: 27px;
        border: 1px solid #fff;
        background-color: $btnBlue;
        color: #fff;
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding: 2rem 5rem 2rem 6.5rem;
        margin-bottom: 3rem; 
        @include atSmallMedium {
            font-size: 1.6rem;
            line-height: 1.8rem;
        }
        @include atMedium {
            font-size: 1.8rem;
            line-height: 2rem;
        }

        .arrow {
            height: 1.4rem;
            width: 1.4rem;
            margin-left: 0.9rem;
            fill: #fff;
        }
    }

    p {
        color: #fff;
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 18px;
        line-height: 1.8rem;
        margin: 0 25% 20px;
        margin: 0 25% 2rem;
    
        @include atSmallMedium {
            font-size: 2rem;
            line-height: 2.8rem;
            margin: 0;
        }        
    }
}
