.hero-slider {
    position: relative;

    div {
        outline: none;
        position: relative;
    }

    &__interior {
        padding-top: 60px;
        padding-bottom: 60px;

        // @include atMedium {
        //     padding-top: 130px;
        //     padding-bottom: 130px;
        // }
    }

    &__slide {
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__overlay {
        margin: 0 auto;
        background-color: rgba(0,0,0,0.68);
        padding: 40px;
        color: #fff;


        width: 50%;
        // @include stMedium {
        //     width: 50%;
        // }
    }
}

click-dots {
    li {
        list-style: none;
        display: inline;
    }

    li button {
        display: inline-block;
    }
}