.hero-slider {
    .title {
        @include atMedium {
            margin-bottom: 1rem;
        }
    }
    .subtitle {
        @include atMedium {
            margin-bottom: 8rem;
        }
    }
}

.carousel-inner {
    text-align: center;
    color: #fff;
}