header {
    width: 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    z-index: 9999;
    top: 0;
    position: fixed;
    background-color: transparent;

    .row {
        margin: 0 auto;
    }
}

.site-header__logo {
    max-width: 15rem;
    width: 400px;
    height: 150px;
}

.shrink {
    padding: 20px 0;
}

.navbar {
    background-color: transparent;
    transition: all 1s;
    opacity: 0.9;
    @include atSmallMedium {
        page-break-after: 10px;
        padding: 1.5rem;
    }

    &-expend-md .navbar-nav {
        @include atSmallMedium {
            -ms-flex-direction: row;
            flex-direction: row;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    #menu-primary-top {
        // margin: 0 auto;
        position: absolute;
        right: 0;
    }
  }