header {
    width: 100%;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    z-index: 8888;
    top: 0;
    position: fixed;
    background-color: transparent;

    .row {
        margin: 0 auto;
    }
}

.site-header__logo {
    max-height: 100px;
    max-width: 640px;
    // width: 400px;
    // height: 150px;

    @include atSmall {
        min-width: 220px;
    }
    @include atSmallMedium {
        min-width: 320px;
    }
    @include atMedium {
        min-width: 260px;
    }
    @include atMediumLarge {
        min-width: 360px;
    }
    @include atLarge {
        min-width: 400px;
    }
    @include atExtraLarge {
        min-width: 440px;
    }


}

.shrink {
    padding: 20px 0;
}

.nav-link {
    color: white;

    &:hover {
        color: white;
    }
}


.navbar {
    background-color: transparent;
    transition: all 1s;
    opacity: 0.9;
    @include atSmallMedium {
        page-break-after: 10px;
        padding: 1.5rem;
    }

    &-expend-md .navbar-nav {
        @include atSmallMedium {
            -ms-flex-direction: row;
            flex-direction: row;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

    .navbar-nav li a {
        padding: 0 2.8rem;
    }

    #menu-primary-top {
        margin: 0 auto;
        position: absolute;
        right: 0;

        li {
            margin: 0 1rem;

            ::after {
                margin: 0 1rem;
            }
        }
    }

    .dropdown:hover > .dropdown-menu {
        display: block;
        color: $mainBlack;
        background-color: #fff;
        border-bottom: 10px solid #0093c9;
      }