@mixin atSmall {
    @media (min-width: 530px) {
      @content;
    }
  }
  
  @mixin atSmallMedium {
    @media (min-width: 767px) {
      @content;
    }
  }
  
  @mixin atMedium {
    @media (min-width: 960px) {
      @content;
    }
  }

  @mixin atMediumLarge {
    @media (min-width: 1200px) {
      @content;
    }    
  }

  @mixin atLarge {
    @media (min-width: 1400px) {
      @content;
    }
  }

  @mixin atExtraLarge {
    @media (min-width: 1600px) {
      @content;
    }
  }

  html {
    font-size: 56.25%;  // 1rem = 9px;

    @include atSmallMedium {
      font-size: 62.6%;  // 1rem = 10px;
    }
  }

  body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    overflow-x: hidden;
    position: relative;
  }
  
  section {
    display: block;
  }

  img, video {
    max-width: 100%;
  }

  img {
    max-width: 100%;
    // height: auto;
    vertical-align: middle;
  }
  
  a {
    color: $mainBlue;
    text-decoration: none;
  }
  
  a:hover {
    color: #0056b3;
    text-decoration: none;
  }

  svg {
    overflow: hidden;
    vertical-align: middle;
  }
  
  // Typography

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}

  h4 {
    font-weight: 400 !important;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h5 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;

    // Page producres
      font-size: 2.9rem;
      text-align: center;
  }

  h6 {
    margin-top: 0;
    font-weight: 700;
  }
  
  h6, .h6 {
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }

  // p,
  ul,
  ol {
    margin: 0 0 1.65em 0;
  }
  
  // p,
  li {
    line-height: 1.65;
  }